<!doctype html>
<html lang="en">
<head>
<link rel="stylesheet" href="../stylesheets/style.css">
  <meta charset="utf-8">
  <title><%= title %></title>
</head>
<body background="windlab.png">
    <h1><%= title %></h1>
	<% include windSpeed %>
	<% include pitchAngle %>
	<% include load %>
</body>
</html>